.env
.env.*
!.env.example
.git
.github
.idea
.vscode
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
npm-debug.log*
yarn-error.log*
